html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; 
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* used */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; 
}
 
/* used */ 
body {
  font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
  background: #2E2E2E;
  font-size: 110%;
  height: 100%;
  line-height: 1.3;
}

/* used */
#outer {
  width: 100%;
  height: 100%;
  position:relative;
}

/* used */
#left-panel {
  float: left;
  width: 100%;
  height: 100%;
  position:relative;
}

/* used */
#right-panel {
  display: none;
  /*float: right;
  width: 34%;
  position:relative;
  text-align: left;
  font-size: 90%; 
  height: 100%; */
}

/*used */
#center-panel {
  display: none;
  /*width: 33%;
  float: left;
  position:relative;
  color: #E6E6E6;
  font-size: 90%;
  line-height: 1.5;
  display: none;
  height: 100%; */
}

#pages {
  position: relative;
  background: #2E2E2E; 
}

@media only screen and (max-device-width: 480px) {
  body {
    min-height: 480px; } 
}



/* used */
#container {
  background: #DDD;
  margin: 2em;
  -moz-border-radius:    1em;
  -webkit-border-radius: 1em;
  border-radius:         1em;
  padding: 0 1em;
  overflow: auto;
  min-height: 90%;
}

/* used */
#center-content {
  padding: 2em 2em;
  max-height: 85%;
  overflow: auto;
}

/* used */
#blog-content, #about-content, #contact-content, #services-content {
  margin: 0.5em;
  background: #DDD;
  color: #2E2E2E;
  -moz-border-radius:    1em;
  -webkit-border-radius: 1em;
  border-radius:         1em;
  padding: 1em;
  display:none;
}

/* used */
#content { 
  padding-bottom: 3em;
  padding-top: 1em;
  height: 100%; 
}

/* used */
header {
  padding: 0.5em 0;
  border-bottom: 3px white ridge;
}

/* used */
header .title-image {
  vertical-align: middle;
}

/* used */
header .title-text {
  vertical-align: top;
}

/* used */
footer {
  clear: both;
  position: relative;
  z-index: 10;
  font-size: 80%;
  left: -0.5em;
}

/* used */
footer nav {
  float: none;
  text-align: center;
  background-color: #2E2E2E;
}

section {
}

/* used */
h1 {
  font-weight: bold;
  margin-bottom: 1em;
}

/* used */
.no-gap {
  margin-bottom: 0
}

/* used */
h1 a {
  font-weight: bold;
  margin-bottom: 0;
} 

/*used */
h2 {
  font-size: 95%;
  margin-bottom: 1em;
  font-weight: bold;
}

.smallnote {
  padding-left: 15px;
  font-size: 70%;
  color: gray;
}

section h2 {
  font-size: 140%;
}

/* used */
h3 {
  font-size: 90%;
  font-weight: bold;
  color: #CC3333;
}

/*used */
h3.title {
  font-size: 100%;
  padding: 0.5em 0;
}

/* used */
h4 {
  font-size: 95%;
}

/* probably used */
h4.subtitle {
  color: #FFFFDD;
}

/* used */
h4.listheader {
  background-color: #AAA; 
  padding: 0.25em;
}

h4.success {
  color: green;
}

h4.shallow {
  margin-bottom: 5px; 
}

section h5 {
  font-size: 90%;
}
/* Links */

/* used */
textarea {
  font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
  font-size: 90%;
  width: 85%;
  height: 10em;
  padding: 1em;
  border: 3px ridge #DDD;
  -moz-border-radius:    0.5em;
  -webkit-border-radius: 0.5em;
  border-radius:         0.5em;
}

/* used */
.upsize {
  height: 15em;
}

/* used */
.bonus {
  height: 13em;
}

/* used */
.tiny {
  height: 4em;
}

/* used */
.miniscule {
  height: 3em;
}

/* used */
.downsize {
  height: 6em;
}

/* used */
.midsize {
  height: 8em;
}

/* used */
.display_off {
  display: none;
}

/* used */
a {
  color: black;
  /* font-weight: bold; */
  text-decoration: none; 
}

/* used */
/*
a:hover {
  color: #069;
  text-decoration: underline;
}
*/

/* used */
/*a:visited {
  color: #069;
}
*/

/* used */
.click_link {
  color: #0088CC;
  font-size: 90%;
  padding: 0 1em;
  font-weight: normal;
  cursor: pointer;
  text-shadow: none;
}

/* used */
.click_link:hover {
  color: #069;
  text-decoration: underline;
}

/* used */
.click_link:visited {
  color: #069;
}

/* used */
h1 .click_link {
  font-size: 80%;
}

img {
  display: none;
  height: 15px;
  width: 15px;
}

/* used */
.no-print {
  display: none
}

/* used */
.magnify img {
  display: none;
}


/* used */
.topmenu {
  float: none;
  text-align: center;
  margin-top: -0.5em;
  padding-bottom: 0.5em;
  border-bottom: 3px ridge white;
  font-size: 80%;
}

/*li .handle {
  color: #777;
  cursor: move;
  font-size: 12px;
} */

/* used */
ul.no_dec {
  list-style:none;
  /*padding-left: 1em; */
}

/* used */
ul li .subtext {
  padding-left: .5em;
}

/* used */
ul li a {
  padding-left: 0.25em;
}

/* used */
.align-left a  {
  padding-left: 0;
}

ul li.no_bullet {
  list-style-type: none;
  padding-bottom: 10px;
}

ul li.no_bullet_compact {
  list-style-type: none;
}

/* used */
ul li.smaller_font {
  font-size: 0.85em;
}


/* used */
.not-found {
  color: #888;
  padding-left: 0.25em;
}

/* used */
.handle:hover {
  cursor: move;
  color: #CC6600;
  font-weight: bold;
}

/* used */
#listing ul li {
  padding: 0.5em 0;
  border-bottom: 3px white ridge;
}

/* used */
#listing ul li:nth-child(odd) {
  background: #CCC;
}

/* used */
#listing ul li ul  {
  list-style: none;
  font-size: 85%;
  margin-bottom: 1em;
}

/* used */
#listing ul li ul li {
  padding: 1em;
  border-bottom: none;
}

/* used */
#listing ul li ul li:nth-child(odd) {
  background: none;
}

/*used */
.indent ul li {
  margin-left: 2em;
}  

/* used */
.subtext {
  font-size: 85%;
  font-weight: normal;
}



#portrait ul li {
  padding: 0.5em 0;
  border-bottom: 3px white ridge;
}

/* used */
#portrait ul li:nth-child(odd) {
  background: #CCC;
}

/* used */
#portrait ul li ul  {
  list-style: none;
  font-size: 90%;
  margin-bottom: 0em;
}

/* used */
#portrait ul li ul li {
  padding: 0.25em;
  border-bottom: none;
}

/* used */
#portrait ul li ul li:nth-child(odd) {
  background: none;
}


/* Navigation */

.hide_link {
  color:#09c; 
  cursor:n-resize;
}

/* used */
nav {
  display: none;
  float: right;
  /* padding: 0 0.2em; */
 /*  white-space: nowrap; */
}

/* used */
nav ul {
  margin: 0;
  padding: 0;
}

/* used */
nav ul li {
  list-style-type: none;
  padding: 0 5px;
  display: inline-block;
}

/* used */
nav ul li a {
  /* padding: 0 5px; 
  font-weight: bold; */
  font-size: 100%;
  color: #0088CC;
}

/* used */
nav ul li a:visited {
  color: #0088CC;
}

/* used */
nav ul li a:hover {
  /* color: #069; */
  text-decoration: underline;
}



/* used */
p {
  font-size: 100%;
  padding-bottom: 1em;
}

/* used */
.no_data {
  padding: 2em;
  margin: 6em 2em;
  font-size: 90%;
  border: 3px #E6002E ridge;
  background: white;
}

/* used */
.pagination {
  font-size: 90%;
}

/* used */
.over {
  margin-bottom: 1em;
}

/* used */
.under {
  margin-top: 1em;
}

/* used */
.side {
  padding-left: 2em;
}

/* used */
.push-left {
  padding-left: 1em;
}

#listing ol li {
  margin-left: 2em;
  font-size: 90%;
  margin-bottom: 1em;
}

/* used */
#rubric {
  font-size: 90%;
  line-height: 1.5;
  padding: 1em;
  /*max-height: 35em;
  overflow: auto; */
}

#menu-page {
  font-size: 90%;
  line-height: 1.5;
  padding: 1em 0 1em 1em;
}

.scroller {
  max-height: 30em;
  overflow: auto; 
}

.display_text {
  margin-left: 75px;
  margin-right: 75px;
  width: 450px;
  padding: 15px;
  font-size: 100%;
}

/* used */
.warning {
  padding:0.5em;
  margin-bottom:1em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 90%;
  border: 3px #990000 ridge;
  background: white;
  color: #E00000;
}

/* used */
.grade-letter {
  float:left; 
  font-size: 120%; 
  font-weight: bold; 
  padding: 1em 1em 1em 0;
}

.menu_box {
  margin-left: 75px;
  margin-right: 75px;
  width: 450px;
  padding: 10px 15px;
  font-size: 100%;
}

.display_wider {
  margin-left: 25px;
  margin-right: 25px;
  width: 600px;
  padding: 15px;
  font-size: 100%;
}

.display_wider_shallow {
  margin-left: 25px;
  margin-right: 25px;
  width: 600px;
  padding: 5px 15px;
  font-size: 100%;
}

.display_medium {
  margin-left: 50px;
  margin-right: 50px;
  width: 550px;
  padding: 15px;
  font-size: 100%;
}

.display_box {
  margin-left: 30px;
  margin-right: 30px;
  width: 240px;
  text-align: center;
  padding: 15px;
  font-size: 100%;
}

.display_box_left {
  margin-left: 0px;
  margin-right: 0px;
  width: 290px;
  padding: 15px;
  font-size: 100%;
}

.info_box {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 240px;
  color: #777;
  padding: 0px 15px;
  font-size: 90%;
  overflow: auto;
}

.info_box_wide {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 60%;
  color: #777;
  padding: 10px 15px;
  font-size: 90%;
  overflow: auto;
}

.info_box_screen {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  color: #777;
  padding: 10px 15px;
  font-size: 90%;
 /* overflow: auto;*/

}

.wide_label {
  width: 60%; 
  padding: 5px 90px 5px 5px; 
  font-size: 85%; 
  font-weight: bold;
}

.two_column {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
  width: 45%;
  font-size: 90%;
  overflow: auto;
  clear: all;
}

.completed_label {
  text-align: center;
  /* color: #fff;
  background: #1943BF; */
  font-size: 80%;
  font-weight: bold;
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

/* used */
.char-count {
  color:#AAA; 
  visibility: hidden; 
  font-size: 80%;
  padding-left: 1em;
  margin-top: 0.25em;
}

.height_screen {
  height: 20em;
}

.wide_65 {
  width: 65%;
}

.wide_85 {
  width: 85%;
}

.shift_center {
  margin-left: 100px;
}

/* used */
.shift_center_25 {
  margin-left: 0em;
}

/* used */
.shift_center_50 {
  margin-left: 0em;
}

.cut_right_50 {
  margin-right: 4em;
}

.shift_center_125 {
  margin-left: 125px;
}

.shift_center_200 {
  margin-left: 200px;
}

.shift_center_400 {
  margin-left: 400px;
}

.pink {
  color: #32312F;
  background: #cc9999;
}

.beige {
  color: #666633;
  background: #F8F4EB;
}

.grun {
  color: #336633;
  background: #99cc99;
}

.mandy {
  color: black;
  background: #FE9A2E;
}

.grayborder  {
  border-style: solid;
  border-color: #CCC;
  border-width: 1px medium medium 1px;
}

/* used */
.rightpos {
  float:right;
}

.entry_box {
  margin-left: 30px;
  margin-right: 30px;
  width: 240px;
  padding: 15px;
  font-size: 100%;
  height: 4em;
}

.label_large {
  font-size: 150%;
  font-weight: normal;
}

.col-indent {
  position:absolute;
  left:220px;
}

/* used */
.highlt {
  color: #CC3333;
}

.achieved {
  background-color: #2E742E;
  color: #FFF;
  padding: 0 10px;
}

.grade_highlight {
  background:#2E742E;
  color: white; 
  padding: 2px; 
  font-weight: bold;
}

/* used */
.texthl {
  color: #B80000;
}

/* used */
.textok {
  color: green;
}

.success_marker {
  text-align: center;
  color: #fff;
  background: #4FB24F;
  font-size: 80%;
  font-weight: bold;
  padding: 5px;
}

.action_label {
  /* display: block; */
  text-align: center;
  /* width: 100px; */
  color: #fff;
  background: #1943BF;
  font-size: 120%;
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.small_action_label {
  display: block;
  text-align: center;
  color: #fff;
  background: #5F9EA0;
  font-size: 100%;
  font-weight: bold;
  width: 175px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

a.small_action_button {
  display: block;
  text-align: center;
  color: #fff;
  background: #5F9EA0;
  font-size: 100%;
  font-weight: bold;
  width: 175px;
  padding: 5px 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}


a.action_button {
  display: block;
  text-align: center;
  width: 100px;
  color: #fff;
  background: #1943BF;
  font-size: 120%;
  font-weight: bold;
  padding: 15px 20px;
  margin-left: 30px;
  margin-bottom: 30px;
}

/* Sign up button */

/* used */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2em;
  display: block;
  text-align: center;
  width: 12em;
  color: #fff;
  background: #366BA1;
  font-size: 100%;
  font-weight: bold;
  padding: .25em;
  background-image: -moz-linear-gradient(top, #B6CFE7, #366BA1);
  background-image: -ms-linear-gradient(top, #B6CFE7, #366BA1);
  background-image: -o-linear-gradient(top, #B6CFE7, #366BA1);
  background-image: -webkit-linear-gradient(top, #B6CFE7, #366BA1);
  background-image: linear-gradient(top, #B6CFE7, #366BA1); 
}

/* used */
a.signup_button:hover {
  color: #FFD83D;
  text-decoration: underline;
}

/* used */
a.signup_button:active {
  position:relative;
  top:1px;
} 


/* used */
.create {
  margin-top: 1em;
  margin-bottom: -1em;
  display: block;
  text-align: center;
  color: #fff;
  background: #366BA1;
  font-weight: bold;
  padding: 0.25em;
  background-image: -moz-linear-gradient(top, #B6CFE7, #366BA1);
  background-image: -ms-linear-gradient(top, #B6CFE7, #366BA1);
  background-image: -o-linear-gradient(top, #B6CFE7, #366BA1);
  background-image: -webkit-linear-gradient(top, #B6CFE7, #366BA1);
  background-image: linear-gradient(top, #B6CFE7, #366BA1); 
}

/* used */
.create:visited {
  color: #fff;
}

/* used */
.create:hover {
  color: #FFD83D;
  text-decoration: underline;
}

/* used */
.create:active {
  position:relative;
  top:1px;
}   

/* used */
.create-icon {
  display: block;
  font-size: 70%;
  text-align: center;
  color: #fff;
  background: #366BA1;
  font-weight: bold;
  padding: 0.25em;
  background-image: -moz-linear-gradient(top, #B6CFE7, #366BA1);
  background-image: -ms-linear-gradient(top, #B6CFE7, #366BA1);
  background-image: -o-linear-gradient(top, #B6CFE7, #366BA1);
  background-image: -webkit-linear-gradient(top, #B6CFE7, #366BA1);
  background-image: linear-gradient(top, #B6CFE7, #366BA1); 
}

/* used */
.create-icon:visited {
  color: #fff;
}

/* used */
.create-icon:hover {
  color: #FFD83D;
  text-decoration: underline;
}

/* used */
.create-icon:active {
  position:relative;
  top:1px;
}  

/* Round corners */

/* used */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.cntr {
  text-align: center;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

.narrow {
  width: 40%
}

.extend {
  width: 50%;
}

.extend_more {
  width: 65%;
}

.smaller_font {
  font-size: 85%;
}

td.grayline {
  border-bottom: 1px solid #CCC;
}

th.control {
  font-size: 0.8em;
}

th.centralize {
  text-align: center;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

td.control {
  font-size: 0.85em;
}

td.centralize {
  text-align: center;
}

td.at_top {
  vertical-align: top;
}
 
td.width_65 {
  width: 65%;
}

td.warning {
  color: #CC3333;
  font-style: italic;
}

.numeric {
  text-align: center;
}
.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* used */
div.field {
  margin-bottom: 1em;
}

div.actions {
  margin-bottom: 0em;
}

/* used */
.field .subtext {
  margin-bottom: 0.25em;
}

/* flash messages */

/* used */
.error, .alert, .notice, .success, .info {
   padding:0.5em;
   margin-bottom:1em;
   margin-left: .5em;
   margin-right: .5em;
   font-size: 90%;
   border: 3px #c6d880 ridge;
   -moz-border-radius:    0.5em;
   -webkit-border-radius: 0.5em;
   border-radius:         0.5em;
}

/* used */
.error, .alert {  
  background: #fbe3e4;
  color:#8a1f11;
  /* border-color:#fbc2c4; */
  border-color: white;
}

/* used */
.notice {
  background:#fff6bf;
  color:#514721;
  /* border-color:#ffd324; */
  border-color: white;
}

/* used */
.success {
  background:#e6efc2;
  color:#264409;
  /* border-color:#c6d880; */
  border-color: white;
}
 
/* used */
.info {
  background:#d5edf8;
  color:#205791;
  border-color:#92cae4;
}


/* used */
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

/* errors */

.field_with_errors {
  margin-top: 0.5em;
  padding: 2px;
  background-color: #c00;
  display: table; 
  }

.field_with_errors label {
  color: #fff;
}

.field_with_errors textarea {
  padding: 0;
  width: 100%;
  border: none;
}

#error_explanation {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 3px ridge #c00;
  padding: 0.5em;
  /*padding-bottom: 12px; */
  margin-bottom: 0.5em;
  background-color: #f0f0f0;
  -moz-border-radius:    0.5em;
  -webkit-border-radius: 0.5em;
  border-radius:         0.5em;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 0.5em 0.5em 0em 0.5em;
  font-size: 80%;
  margin: 0px;
  background-color: #f0f0f0;
  color: #c00;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 0.5em;
  font-size: 80%;
}

#error_explanation ul li {
  margin-left: 1em;
  font-size: 70%;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/* used */
.r-float {
  display: none;
  font-size: 90%;
  float:right;
}

/* used */
.smaller {
  font-size: 80%;
}

/* used */
.l-float {
  float: left;
}

/*used */
.list-90 {
  width:90%;
  margin-bottom: 1em;
}
  
/* used */
.list-05 {
  width: 5%;  
}


.centerplace {
  margin-left:140px}
