<h1>Help</h1>
<p>
  Click on the guidance button (<%= image_tag "guidance.png" %>) for contextualized page help.
  For a general overview of how you can use Yer Bike, check out the tutorials at
  <a href='#'>Getting the most out of Yer Bike</a>.
</p>
