<div class="field">
  <%= f.label :nationality, "Nationality *" %>
  <div class="subtext">
    Use the singular form - ie <i>Bahraini</i>, not <i>Bahrainis</i>.
  </div>
  <%= f.text_field :nationality %>
</div>

